/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/*   BASIC SETUP   */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --light: #51a9ff;
  --main: #1e90ff;
  font-size: 20px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  color: #444;
}

/*   HEADER   */
header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(img/waterfall-compressed.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

h1 {
  color: #fff;
  font-size: 3.1rem;
  font-weight: 400;
  word-spacing: 1px;
  letter-spacing: -3.7px;
  text-align: center;
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 500px;
  border: 2px solid var(--main);
  color: #fff;
  transition: all 0.5s;
  background-color: var(--main);
}

.btn:hover,
.btn:active {
  background-color: var(--light);
  border: 2px solid var(--light);
}

/*   HEADINGS   */
h2 {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: -1px;
  text-align: center;
  margin-bottom: 2rem;
}

h2::after {
  content: '';
  display: block;
  height: 2px;
  background-color: var(--main);
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 15px;
}

/*   NAV BAR   */
nav {
  z-index: 100;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  margin-right: 1.5rem;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  padding: 1.2em 0;
  transition: all 0.3s ease-out;
}

.nav-link:hover,
.nav-link:active {
  border-top: 2px solid var(--main);
  border-bottom: 2px solid var(--main);
}

.logo {
  height: 100px;
  width: auto;
  margin-left: 1.5rem;
}

.logo img {
  max-height: 100%;
  width: auto;
  margin: 0 auto;
  display: block;
}

@media screen and (max-width: 770px) {
  html {
    font-size: 18px;
  }
  nav {
    align-items: center;
  }
  .logo {
    height: 60px;
  }
  nav ul {
    flex-flow: column nowrap;
    gap: 0.2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }
  .nav-link:link,
  .nav-link:visited {
    padding: 0.1rem 0;
  }
}

/*   CONTENT   */
.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    width: 95%;
  }
}

section {
  padding: 100px 0;
}

@media screen and (max-width: 770px) {
  section {
    padding-top: 133px;
    padding-bottom: 100px;
  }
}

/*   ABOUT SECTION   */
.section-about {
  background-color: #efefef;
}

.features {
  display: flex;
  justify-content: space-between;
}

.features__box {
  flex: 0 0 33%;
  padding: 1%;
}

@media screen and (max-width: 800px) {
  .features {
    flex-flow: column nowrap;
  }
  .features__box {
    width: 70%;
    margin-left: 15%;
    margin-top: 20px;
  }
}

.long-copy {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.features__box p {
  /* font-size: 0.9rem; */
  line-height: 1.6;
}

.icon {
  font-size: 1.8rem;
  display: block;
  color: var(--main);
  margin-bottom: 10px;
}

/*   BENEFITS SECTION   */
.section-benefits {
  background-image: linear-gradient(
      /* rgba(81, 169, 255, 0.3),
      rgba(81, 169, 255, 0.3) */
        rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(img/zen-stones-compressed.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
}

.benefits {
  list-style: none;
  margin-left: 15%;
}

.benefits li {
  margin-bottom: 2rem;
}

.benefits__text {
  font-size: 1.2rem;
  font-weight: 500;
  font-style: italic;
  padding: 0.8rem 0;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  transition: all 0.3s ease-out;
}

.benefits__text:hover {
  border-bottom: 2px solid var(--main);
  border-top: 2px solid var(--main);
}

/*   WATCH SECTION   */
.section-watch {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video {
  max-width: 100%;
}

/* SIGN-UP SECTION   */
.section-download {
  background-color: #333;
  color: #fff;
  position: relative;
}

.form {
  width: 70%;
  margin: 0 auto;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 30px;
}

.input-email {
  font-size: 1rem;
  padding: 0.5rem;
}

.link:link,
.link:visited {
  text-decoration: none;
  color: var(--light);
  transition: all 0.2s;
  letter-spacing: 1px;
}

.link:hover,
.link:active {
  text-decoration: underline;
}

.submit {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px;
  transition: all 0.2s;
  background-color: var(--main);
  color: #fff;
  border: 2px solid var(--main);
  border-radius: 5px;
}

.submit:hover {
  background-color: var(--light);
  border: 2px solid var(--light);
}

/*   FOOTER   */
.footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(img/zen-garden-compressed.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 2.5rem 0;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  display: inline-block;
  padding: 8px 12px;
  text-align: center;
}
