/*   BASIC SETUP   */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --light: #51a9ff;
  --main: #1e90ff;
  font-size: 20px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Lora', serif;
  color: #495057;
  background-color: #f1f3f5;
}

/*   HEADER   */
header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(img/waterfall-compressed.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

h1 {
  color: #eaf5ff;
  font-size: 3.1rem;
  font-weight: 400;
  word-spacing: 1px;
  letter-spacing: -3px;
  text-align: center;
}

.btn:link,
.btn:visited {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px 36px;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  border-radius: 16px;
  border: 2px solid var(--light);
  color: #003262;
  transition: all 0.5s;
  background-color: var(--light);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
}

.btn:hover,
.btn:active {
  background-color: #73baff;
  border: 2px solid #73baff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

/*   HEADINGS   */
h2 {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: -1px;
  text-align: center;
  margin-bottom: 2rem;
}

h2::after {
  content: '';
  display: block;
  height: 2px;
  background-color: var(--light);
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 12px;
}

/*   NAV BAR   */
nav {
  z-index: 100;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  margin-right: 1.5rem;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  color: #eaf5ff;
  font-size: 1rem;
  text-decoration: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  padding: 1.2em 0;
  transition: all 0.3s ease-out;
}

.nav-link:hover,
.nav-link:active {
  border-top: 2px solid var(--light);
  border-bottom: 2px solid var(--light);
}

.logo {
  height: 100px;
  width: auto;
  margin-left: 1.5rem;
}

.logo img {
  max-height: 100%;
  width: auto;
  margin: 0 auto;
  display: block;
}

@media screen and (max-width: 770px) {
  html {
    font-size: 18px;
  }
  nav {
    align-items: center;
  }
  .logo {
    height: 60px;
  }
  nav ul {
    flex-flow: column nowrap;
    gap: 0.2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }
  .nav-link:link,
  .nav-link:visited {
    padding: 0.1rem 0;
  }
}

/*   CONTENT   */
.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    width: 90%;
  }
}

section {
  padding: 100px 0;
}

@media screen and (max-width: 770px) {
  section {
    padding-top: 133px;
    padding-bottom: 100px;
  }
}

/*   ABOUT SECTION   */
.features {
  display: flex;
  justify-content: space-between;
}

.features__box {
  flex: 0 0 31%;
  padding: 0 0.2rem;
}

.long-copy {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.features__box p {
  line-height: 1.6;
}

.features-icon {
  font-size: 1.6rem;
  color: var(--light);
  margin-bottom: 16px;
}

@media screen and (max-width: 800px) {
  .features {
    flex-flow: column nowrap;
    gap: 2rem;
  }
  .features__box {
    width: 70%;
    margin-left: 15%;
  }
  .features-icon {
    margin-bottom: 12px;
  }
  h3 {
    margin-bottom: 8px;
  }
}

/*   BENEFITS SECTION   */
.section-benefits {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(img/zen-stones-compressed.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #eaf5ff;
}

.benefits {
  list-style: none;
  margin-left: 15%;
}

.benefits li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.benefits-icon {
  font-size: 1.6rem;
  color: #73baff;
}

.benefits__text {
  font-size: 1.2rem;
  font-weight: 500;
  font-style: italic;
  padding: 1rem 0;
  transition: all 0.3s ease-out;
}

/*   WATCH SECTION   */
.section-watch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video {
  max-width: 100%;
}

/* SIGN-UP SECTION   */
.sign-up {
  max-width: 800px;
  margin: 0 auto;
  border-radius: 16px;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.3);
  padding: 2rem;
  color: #eaf5ff;
  border: 1px solid #adb5bd;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url(img/leaves-compressed.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 900px) {
  .sign-up {
    width: 95%;
  }
}

@media screen and (max-width: 770px) {
  .sign-up {
    padding: 2rem 1.5rem;
  }
}

.form {
  width: 95%;
  margin: 0 auto;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 30px;
}

.input-email {
  font-size: 1rem;
  padding: 0.5rem;
}

.link:link,
.link:visited {
  text-decoration: none;
  color: #84c2ff;
  transition: all 0.2s;
}

.link:hover,
.link:active {
  text-decoration: underline;
  color: #eaf5ff;
}

.submit {
  font-family: 'Lora', serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 10px;
  transition: all 0.2s;
  background-color: var(--light);
  color: #003262;
  border: 2px solid var(--light);
  border-radius: 16px;
}

.submit:hover {
  background-color: #73baff;
  border: 2px solid #73baff;
}

/*   FOOTER   */
.footer {
  background-size: cover;
  background-position: center;
  padding: 2.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  display: inline-block;
  padding: 8px 12px;
  text-align: center;
}
